appdirs==1.4.4
args==0.1.0
black==20.8b1
certifi==2019.6.16
chardet==3.0.4
click==7.1.2
clint==0.5.1
dataclasses==0.8
hestia==0.3.0
idna==2.8
Jinja2==2.10
MarkupSafe==1.1.1
marshmallow==3.0.0rc4
mypy-extensions==0.4.3
numpy==1.16.4
pathlib==1.0.1
pathspec==0.8.1
pbr==5.2.0
polyaxon==0.0.0
polyaxon-cli==0.4.4
polyaxon-client==0.4.4
polyaxon-deploy==0.4.4
polyaxon-schemas==0.4.4
polystores==0.1.9
psutil==5.4.7
pytz==2019.1
PyYAML==5.1
raven==6.7.0
regex==2020.11.13
requests==2.22.0
requests-toolbelt==0.8.0
rhea==0.4.5
six==1.11.0
stevedore==1.30.1
tabulate==0.8.2
toml==0.10.2
tqdm==4.32.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
virtualenv==16.5.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
websocket-client==0.56.0
